.arc text {
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
  stroke-width:5px;
}

.pie-chart-explain {margin-top:105px;}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .pie-chart-explain  .legend-scale{float: left;width: 100%;}
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
    }
  .my-legend .legend-scale ul li {
    font-size: 14px;
    list-style: none;
    margin-left: 0;
    line-height: 25px;
    margin-bottom: 20px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 20px;
    margin: 3px 10px;
    width: 20px;
    }
    .right-side{margin-top: 30px;}
  

