<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<http pattern="/rest" security="none" />
	<http pattern="/rest/*" security="none" />
	<http pattern="/signup/*" security="none" />
	<http pattern="/savesignup/*" security="none" />
	
 	<http auto-config="true" use-expressions="true">
 	
		<intercept-url pattern="/superadmin" access="hasAnyRole('SUPER_ADMIN_PRIME','SUPER_ADMIN')" />
		<intercept-url pattern="/superadmin/*" access="hasAnyRole('SUPER_ADMIN_PRIME','SUPER_ADMIN')" /> 
	
		<intercept-url pattern="/principal/*" access="hasRole('SCHOOL_ADMIN')" />
		<intercept-url pattern="/teacher/*" access="hasRole('TEACHER')" />
		<intercept-url pattern="/donor/*" access="hasRole('DONOR')" />
		<intercept-url pattern="/contributer/*" access="hasRole('DONORNEW')" />
		<intercept-url pattern="/communityadmin" access="hasRole('COMMUNITY_ADMIN')" />
		<intercept-url pattern="/communityadmin/*" access="hasRole('COMMUNITY_ADMIN')" />
	    <intercept-url pattern="/ambassador/*" access="hasRole('AMBASSADOR')" />
		
		
		<!-- <form-login login-page="/" default-target-url="/superadmin"
			authentication-failure-url="/adminlogin?error=1" />
		<logout logout-success-url="/adminlogin" />
		<remember-me key="_spring_security_remember_me"
			data-source-ref="compassDataSource"  /> -->
			
			<form-login login-page="/"
			authentication-failure-url="/loginfailed" 
			authentication-success-handler-ref="myAuthenticationSuccessHandler"/>
		<logout success-handler-ref="logoutSuccessHandler" />
		
	</http> 
	
	<beans:bean id="logoutSuccessHandler"
		class="com.compass.authentication.LogoutSuccessHandlerNew">
	</beans:bean>
	<beans:bean id="myAuthenticationSuccessHandler"
        class="com.compass.authentication.MySimpleUrlAuthenticationSuccessHandler" />
        
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>

	<beans:bean id="userDetailsService" class="com.compass.util.UserDetailsServiceImpl" />
	
<!--		<http auto-config="true" use-expressions="true" >
		<intercept-url pattern="/superadmin" access="hasRole('SUPER_ADMIN')" />
		<intercept-url pattern="/superadmin/*" access="hasRole('SUPER_ADMIN')" />
		
		<form-login login-page="/"
			authentication-success-handler-ref="loginSuccessHandler"
			authentication-failure-handler-ref="loginFailureHandler"
			default-target-url="/role-check" />
		<logout success-handler-ref="logoutSuccessHandler" />
		<remember-me key="_spring_security_remember_me"
			data-source-ref="compassDataSource" authentication-success-handler-ref="loginSuccessHandler" />
		<access-denied-handler error-page="/error" />
		<security:session-management  >
        	<security:concurrency-control max-sessions="1" expired-url="/?error=sessionExpiredDuplicateLogin"  />
        </security:session-management>
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>

	<beans:bean id="userDetailsService" class="com.compass.util.UserDetailsServiceImpl" />
	<beans:bean id="loginSuccessHandler" class="com.compass.authentication.LoginSuccessHandler" />
	<beans:bean id="logoutSuccessHandler"
		class="com.compass.authentication.CustomLogoutSuccessHandler" />
	<beans:bean id="loginFailureHandler" class="com.compass.authentication.LoginFailureHandler" />-->
	
<!--  	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="compassDataSource"
				users-by-username-query="select 
		Email,Password, 'true' as enabled from login_details where Is_Confirmed = 'Y' and Email=?"
				authorities-by-username-query="select 
		u.Email, ur.Role_Name from login_details u, role_master ur where u.Role_Master_Id 
		= ur.Role_Master_Id and u.Email =?" />
		</authentication-provider>
	</authentication-manager>  -->

</beans:beans>